@media (min-width: 1240px) {
    #main .ts {
        line-height: 0.90cm;
        font-size: 45px;
    }
    #portfolio .fs {
        border-radius: 10px;
        height: 210px;
        width: 360px;
      }

}

@media (max-height: 300px) {
    #main .overlay {
        height: 314px;
    }
}

@media (max-width: 600px) {
    #main .ws {
        max-width: 250px;
    }

    #main .ts {
        vertical-align: text-top; 
        line-height: 0.50cm;
        font-size: 30px;
    }

    #main .bs {
        font-size: 10px;
    }

    #main .imagen_fondo {
        background-image: url(./assets/images/bg_responsive.png);
      }

    .fs {
        border-radius: 10px;
        height: 110px;
        width: 260px;
      }

}