@media (min-width: 1240px) {

}

@media (max-height: 300px) {
    .navbar-toggle {
        float: left !important;
        margin-left: 15px;
        margin-right: 0;
      }
      
    .collapse {
        width: 100%;
        height: auto;
      }
      
    .modal-nav-body {
        margin-top: 100px; 
      }
      
    .modal-nav-body ul {
        list-style-type: none;
        color: white;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      
    .modal-nav-body ul li {
        text-align: center;
        font-size: 130%;
        padding: 8px;
        text-transform: uppercase;
      }

    #main .overlay {
        height: 314px;
    }
}

@media (max-width: 600px) {
    #main .ws {
        max-width: 250px;
    }

    #main .tss {
        vertical-align: text-top; 
        line-height: 0.50cm;
        font-size: 30px;
    }

    #main .bs {
        font-size: 10px;
    }

    #main .imagen_fondo {
        background-image: url(./assets/images/bg_responsive.png);
      }

}