nav > a {
  padding: 5px;
  text-decoration: none;
}
nav > a.active {
  background-color: blue;
}
.header-row{
  width: 100%;
}
.header-toolbar {
  margin-bottom: 20px;
  background-color: #003C5E;
}
.aa {
 position: relative;
left: calc(110% - 100px);
margin: 0 auto
  
}



 @media (max-width: 600px) {
  .aa {
    position: relative;
   left: 20%;
   margin: 0 auto
     
   }
}

.a {
  position: absolute;
  top: 14px;
  right: 20px; 
}